{{>layout/header}}
<div class="container">
  <br>
  <br>
  <h3>새글쓰기</h3>
  <form action="/write" method="POST">
    <table class="table">
      <colgroup>
        <col width="10%">
        <col width="90%">
      </colgroup>
      <tbody>
      <tr>
        <th>음식 이름</th>
        <td><input type="text" name="fname" id="fname"class="w90" placeholder="제목을 입력하세요"></td>
      </tr>
      <tr>
        <th>추천 내용</th>
        <td><textarea type="text" name="fcontents" id="fcontents"class="w90" rows="5"placeholder="내용을 입력하세요"></textarea></td>
      </tr>
      <tr>
        <th>작성자</th>
        <td><input type="text" name="fwriter" id="fwriter" class="w20" placeholder="작성자를 입력하세요"></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-success" type="submit" id="btn-save">글쓰기</button>
    <a href="javascript:history.back();" class="btn btn-outline-warning">목록</a>
  </form>
</div>
{{>layout/footer}}