{{>layout/header}}
  <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">관리자 로그인</h2>
          <a href="javascript:history.back();"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" action="/login" method="POST">
            <div class="form-floating mb-3">
              <input type="text" name="user_id" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">아이디</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="user_pw" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">비밀번호</label>
            </div>
            <a href="auth" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">로그인</a>
            <small class="text-muted">관리자만 로그인 가능 합니다.</small>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
{{>layout/footer}}