{{>layout/header}}
<div class="container">
  <br>
  <br>
  <h3 class="d-inline-block">잡담 게시판</h3>
  <a href="/auth" class="btn btn-outline-secondary float-right">관리자 로그인</a>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index">잡담 게시판</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/party">문의 게시판</a>
          </li>
        </ul>
        <a href="/auth" class="btn btn-outline-success">관리자 로그인</a>
      </div>
    </div>
  </nav>
</div>



  <div class="container">
    <br>
    <br>
    <h3 class="float-left">글 내용 : </h3>
    <form action="/view/<%= matchedBoard.bId %>/del" class="float-right" method="POST">
      <!-- <button type="submit" class="btn btn-outline-danger">삭제</button> -->
    </form>
    <table class="table">
      <colgroup>
        <col width="10%">
        <col width="60%">
        <col width="20%">
      </colgroup>
      <tbody>
      <tr>
        <th>번호 :  <span class="ml-3 font-weight-normal"></span></th>
        <th>제목 :  <span class="ml-3 font-weight-normal"></span></th>
        <th>작성자 :  <span class="ml-3 font-weight-normal"></span></th>
      </tr>
      <tr>
        <th>내용 : </th>
        <td colspan="2"></td>
      </tr>
      </tbody>
    </table>

    <br>
    <hr>
    <br>

    <h3>댓글리스트</h3>
    <table class="table">
      <colgroup>
        <col width="10%">
        <col width="40%">
        <col width="10%">
        <col width="40%">
      </colgroup>
      <tbody>

      <tr>
        <th>댓글 : </th>
        <td></td>
        <th>작성자 : </th>
        <td></td>
      </tr>

      </tbody>
    </table>

    <br>
    <hr>
    <br>

    <h3>댓글쓰기</h3>
    <form action="/view/<%= matchedBoard.bId %>" method="POST">
      <table class="table">
        <colgroup>
          <col width="10%">
          <col width="90%">
        </colgroup>
        <tbody>
        <tr>
          <th>댓글 : </th>
          <td><input type="text" name="cComment" placeholder="댓글을 입력하세요" class="w90"></td>
        </tr>
        <tr>
          <th>작성자 : </th>
          <td><input type="text" name="cWriter" placeholder="댓글 작성자를 입력하세요" class="w20"></td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-success" type="submit">댓글쓰기</button>
      <a href="javascript:history.back();" class="btn btn-outline-warning">목록</a>
    </form>
  </div>
  <br>
  <br>
  <br>
  {{>layout/footer}}